<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Geometry</title>
	<link rel="icon" href="/static/images//favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href={{url_for("static", filename="geometry/geometry.css")}}>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar">
	<!-- LOGO -->
	<div class="logo" onclick="location.reload();">Coursework</div>
	<!-- NAVIGATION MENU -->
	<ul class="nav-links">
		<!-- USING CHECKBOX HACK -->
		<input type="checkbox" id="checkbox_toggle" />
		<label for="checkbox_toggle" class="hamburger">&#9776;</label>
		<!-- NAVIGATION MENUS -->
		<div class="menu">
			<li><a href="/">Home</a></li>
			{% if current_user.is_authenticated %}
				<li class="services">
					<a href="../topics">Topic List</a>
					<!-- DROPDOWN MENU -->
					<ul class="dropdown">
							<li><a href="../calculator">Calculator</a></li>
							<li><a href="../complex">Complex numbers</a></li>
							<li><a href="../converter">Converter</a></li>
							<li><a href="../graph">Grapher</a></li>
							<li><a href="../matrices">Matrices</a></li>
							<li><a href="../mechanics">Mechanics</a></li>
							<li><a href="../checker">Number checker</a></li>
							<li><a href="../solver">Solver</a></li>
					</ul>
				</li>
			{% endif %}
				<li class="services">
					<a>Learn Topics</a>
					<!-- DROPDOWN MENU -->
					<ul class="dropdown">
						<li><a href="../learnComplex">Complex Numbers</a></li>
						<li><a href="../learnSolver">Equation Solving</a></li>
						<li><a href="../learnGeometry">Geometry</a></li>
						<li><a href="../learnMatrices">Matrices</a></li>
					</ul>
				</li>
			{% if current_user.is_authenticated %}
				<li><a href="../profile">Profile</a></li>
				<li><a href="../logout">Logout</a></li>
			{% endif %}
			{% if not current_user.is_authenticated %}
				<li><a href="../graph">Grapher</a></li>
				<li><a href="../login">Login</a></li>
				<li><a href="../signup">Sign up</a></li>
			{% endif %}
		</div>
	</ul>
</nav>
	<div class="container">
		<div class="calculator">
			<table>
				<tr>
					<H2>Find the intersection of two line:</H2>
					<a href="#intersect"><button>Intersect</button></a>
				</tr>
				<tr>
					<H2>Find the distance between two points:</H2>
					<a href="#distance"><button>Distance</button></a>
				</tr>
				<tr>
					<H2>Find the equation of a line given two points:</H2>
					<a href="#equation"><button>Equation</button></a>
				</tr>
				<tr>
					<H2>Find the equation of a tangent/normal to a function (up to cubic) at a point:</H2>
					<a href="#tangent"><button>Tangent</button></a>
					<a href="#normal"><button>Normal</button></a>
				</tr>
				<tr>
					<H2>Find the equation of a circle:</H2>
					<a href="#circle"><button>Circle</button></a>
				</tr>
				<tr>
					<H2>Find the area of a regular polygon:</H2>
					<a href="#areaSide"><button>Area from side length</button></a>
				</tr>
				<tr>
					<a href="#areaAngle"><button>Area from interior angle</button></a>
				</tr>
				<tr>
					<H2>Find the area and circumference of a circle:</H2>
					<a href="#circleInfo"><button>Circle information</button></a>
				</tr>
			</table>
			<hr style="max-width: 50vw;">
		</div>

		<section class="content-section" id="intersect">
			<H2>Intersection:</H2>
			<form>
				<H2>Coordinates of line 1:</H2>
				<input type="text" id="xc1i"><a>,</a>
				<input type="text" id="yc1i"><h2></h2>
				<input type="text" id="xc2i"><a>,</a>
				<input type="text" id="yc2i">
				<H2>Coordinates of line 2:</H2>
				<input type="text" id="xc3i"><a>,</a>
				<input type="text" id="yc3i"><h2></h2>
				<input type="text" id="xc4i"><a>,</a>
				<input type="text" id="yc4i">
				<H3>Press submit to view solutions</H3>
				<input style="position:center; width:50%;" type="submit" onclick="intersect();" />
			</form>
		</section>

		<section class="content-section" id="distance">
			<H2>Distance:</H2>
			<form>
				<H2>Coordinates of point 1:</H2>
				<input type="text" id="xc1d"><a>,</a>
				<input type="text" id="yc1d"><h2></h2>
				<H2>Coordinates of point 2:</H2>
				<input type="text" id="xc2d"><a>,</a>
				<input type="text" id="yc2d">
				<H3>Press submit to view solutions</H3>
				<input style="position:center; width:50%;" type="submit" onclick="distance();" />
			</form>
		</section>

		<section class="content-section" id="equation">
			<H2>Equation:</H2>
			<form>
				<H2>Coordinates of point 1:</H2>
				<input type="text" id="xc1e"><a>,</a>
				<input type="text" id="yc1e"><h2></h2>
				<H2>Coordinates of point 2:</H2>
				<input type="text" id="xc2e"><a>,</a>
				<input type="text" id="yc2e">
				<H3>Press submit to view solutions</H3>
				<input style="position:center; width:50%;" type="submit" onclick="equation();" />
			</form>
		</section>

		<section class="content-section" id="tangent">
			<H2>Tangent:</H2>
			<form>
				<H2>Enter your function:</H2>
				<input type="text" id="tan3"><a> * x<sup>3</sup> + </a>
				<input type="text" id="tan2"><a> * x<sup>2</sup> + </a>
				<input type="text" id="tan1"><a> * x + </a>
				<input type="text" id="tan0"><a> = 0</a>
				<H2>Enter the x coordinate:</H2>
				<input type="text" id="xct">
				<H3>Press submit to view solutions</H3>
				<input style="position:center; width:50%;" type="submit" onclick="tangent();" />
			</form>
		</section>

		<section class="content-section" id="normal">
			<H2>Normal:</H2>
			<form>
				<H2>Enter your function:</H2>
				<input type="text" id="norm3"><a> * x<sup>3</sup> + </a>
				<input type="text" id="norm2"><a> * x<sup>2</sup> + </a>
				<input type="text" id="norm1"><a> * x + </a>
				<input type="text" id="norm0"><a> = 0</a>
				<H2>Enter the x coordinate:</H2>
				<input type="text" id="xcn">
				<H3>Press submit to view solutions</H3>
				<input style="position:center; width:50%;" type="submit" onclick="normal();" />
			</form>
		</section>

		<section class="content-section" id="circle">
			<H2>Circle:</H2>
			<form>
				<H2>Coordinates of the center of the circle</H2>
				<input type="text" id="xc1c"><a>,</a>
				<input type="text" id="yc1c"><h2></h2>
				<H2>Radius of the circle</H2>
				<input type="text" id="radius">
				<H3>Press submit to view solutions</H3>
				<input style="position:center; width:50%;" type="submit" onclick="circle();" />
			</form>
		</section>

		<section class="content-section" id="areaSide">
			<H2>Area:</H2>
			<form>
				<H2>Side length:</H2>
				<input type="text" id="length1">
				<H2>Number of sides:</H2>
				<input type="text" id="n">
				<H3>Press submit to view solutions</H3>
				<input style="position:center; width:50%;" type="submit" onclick="areaSide();" />
			</form>
		</section>

		<section class="content-section" id="areaAngle">
			<H2>Area:</H2>
			<form>
				<H2>Internal angle in degrees:</H2>
				<input type="text" id="angle">
				<H2>Side length:</H2>
				<input type="text" id="length2">
				<H3>Press submit to view solutions</H3>
				<input style="position:center; width:50%;" type="submit" onclick="areaAngle();" />
			</form>
		</section>

		<section class="content-section" id="circleInfo">
			<H2>Circle:</H2>
			<form>
				<H2>Radius:</H2>
				<input type="text" id="radius2">
				<H3>Press submit to view solutions</H3>
				<input style="position:center; width:50%;" type="submit" onclick="circleInfo();" />
			</form>
		</section>

		<a href="../geometry" class="bottomCenterDiv">Top of page</a>
	</div>
</body>
<script src="{{ url_for('static', filename='geometry/geometry.js') }}"></script>
</html>

