{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="title">Welcome, {{name}}!</h1>
</div>
<div>
    <br><br><br><H1 class="subtitle">Account information:</H1>
    <H2>Name: {{name}}</H2>
    <H2>Email: {{email}}</H2>
</div>
<div>
    <br><br><br><EM>Do you wish to delete your account?</EM>
    <br><EM>Warning! This action cannot be undone.</EM>
    <br><a href="{{ url_for('auth.delete') }}" style="text-decoration:underline; color:black; font-weight:bold;">Delete account</a>
</div>
{% endblock %}
